@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Inter:wght@100;200;300;700&display=swap');

:root {
	--font-family: 'Inter', sans-serif;
	--bg-color: #0B4284; /* #497174 | #91D8E4 */
	--primary-color: #FFFFFF; /* #EFF5F5 | #EAFDFC */
}

body {
	background-color: var(--bg-color);
	color: var(--primary-color);
	font-family: var(--font-family);
	font-weight: 200;
	min-height: 100vh;
	text-align: center;
	margin: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 2rem;
	margin-top: 20px;
}

strong {
	font-weight: 700;
}

.bg-dark {
	background-color: #0A2647;
}

.message {
	font-size: 1.5rem;
	margin-top: 40px;
}

.guess-box {
	border: 2px solid var(--primary-color);
	display: inline-block;
	font-size: 4rem;
	padding: 10px;
	margin: 20px;
}

/* Button Restart */
button {
	cursor: pointer;
	transition: all .3 ease;
}
button:hover {
	opacity: .9;
}

button.btn-play {
	border: 0;
	padding: .5rem 1.5rem;
	margin-top: 1.2rem;

}

button.outline-style {
	background-color: var(--bg-color);
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
	transition: background ease .3s;
}
button.outline-style:hover {
	background-color: var(--primary-color);
	color: var(--bg-color);
}

.rounded-style {
	background-color: var(--primary-color);
	border-radius: 5px;
	color: var(--bg-color);
}
