@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Inter:wght@300&display=swap');

:root {
	--font-family: 'Inter', sans-serif;
	--bg-color: #47B5FF; /* #497174 | #91D8E4 */
	--primary-color: #DFF6FF; /* #EFF5F5 | #EAFDFC */
}

body {
	background-color: var(--bg-color);
	color: var(--primary-color);
	font-family: var(--font-family);
	min-height: 100vh;
	text-align: center;
	margin: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 4rem;
}

h3 {
	font-size: 2rem;
	margin-top: 20px;
}

.message {
	font-size: 1.5rem;
	margin-top: 40px;
}

.guess-box {
	border: 2px solid var(--primary-color);
	display: inline-block;
	font-size: 4rem;
	padding: 10px;
	margin: 20px;
}
